.validate.active:valid {
    box-shadow: 0 0 5px 1px green;
  }
  
.validate.active:invalid {
    box-shadow: 0 0 5px 1px red;
}
  
.error {
    color: red;
    font-size: 12px;
    margin-top: 5px;
}

.invalid {
    box-shadow: 0 0 5px 1px red;
}